* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  background-color: #024164;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 100%;
  min-height: 100%;
  overflow: hidden; }

.jsconfuy-cube {
  height: 10em;
  width: 10em;
  -webkit-transition: all 0.5s;
  margin: auto; }

.perspective {
  -webkit-transform: rotateX(45deg) rotateZ(45deg);
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 1s; }
  .perspective .cube, .perspective .cube:after, .perspective .cube:before {
    background-color: #0498c2;
    box-shadow: 0 0 0 6px #037899 inset;
    content: '';
    height: 10em;
    position: absolute;
    width: 10em;
    -webkit-transition: all 0.5s; }
  .perspective .cube {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/c/ca/1x1.png");
    background-repeat: no-repeat;
    position: relative;
    -webkit-transform: rotateZ(0deg) translateZ(10em);
    -webkit-transform-style: preserve-3d; }
    .perspective .cube:after {
      background-image: url("http://upload.wikimedia.org/wikipedia/commons/c/ca/1x1.png");
      background-repeat: no-repeat;
      -webkit-transform: rotateX(-90deg) translateY(10em);
      -webkit-transform-origin: 100% 100%;
      -webkit-opacity: 0.85; }
    .perspective .cube:before {
      background-image: url("http://mwdg.us/jsconfuy/cube-1.svg");
      background-repeat: no-repeat;
      -webkit-transform: rotateY(90deg) translateX(10em);
      -webkit-transform-origin: 100% 0;
      -webkit-opacity: 0.7; }
    .perspective .cube.pull-left {
      -webkit-transform: translateX(-11em) translateZ(10em);
      -webkit-transform-origin: 100% 100%;
      -webkit-opacity: 0.85; }

.title {
  opacity: 0;
  color: #fff;
  position: absolute;
  font-size: 24px;
  top: 0;
  left: 0;
  text-align: center;
  -webkit-transition: opacity 0.5s;
  font-family: 'dosisextralight'; }
  .title.active {
    opacity: 1;
    -webkit-transition: opacity 0.5s; }

input[name='rotate'] {
  display: none; }

#left:checked ~ .perspective {
  -webkit-transform: rotateX(90deg) rotateZ(0deg); }
  #left:checked ~ .perspective .cube:after {
    background-image: url("http://mwdg.us/jsconfuy/cube-2.svg");
    background-repeat: no-repeat;
    opacity: 1; }

#left:checked ~ .perspective .title {
  width: 220px;
  -webkit-transform-origin: 0;
  -webkit-transform: rotateX(-90deg) rotateZ(0deg) translateZ(0em) translateX(-8.5em) translateY(2.5em); }

#right:checked ~ .perspective {
  -webkit-transform: rotateX(90deg) rotateZ(90deg); }
  #right:checked ~ .perspective .cube:before {
    opacity: 1; }

#right:checked ~ .perspective .title {
  width: 200px;
  -webkit-transform-origin: 0;
  -webkit-transform: rotateX(-90deg) rotateY(90deg) translateY(2em) translateX(-6.9em); }

#up:checked ~ .perspective {
  -webkit-transform: rotateX(0deg) rotateZ(45deg); }
  #up:checked ~ .perspective .cube {
    background-color: #FFFFFA;
    background-image: url("http://mwdg.us/jsconfuy/cube-3.svg");
    background-repeat: no-repeat; }

#up:checked ~ .perspective .title {
  -webkit-transform-origin: 0;
  -webkit-transform: rotateZ(-45deg) translateZ(0em) translateX(-1.8em) translateY(11em); }

#left:checked ~ .perspective .cube:after, #right:checked ~ .perspective .cube:before, #up:checked ~ .perspective .cube {
  border-radius: 5px; }

.page {
  display: none;
  position: absolute; }
  .page.active {
    display: block; }
  .page .message {
    background: #024e71;
    border-radius: 3px;
    padding: 20px;
    font-size: 14px;
    color: #fff;
    text-align: center; }
  .page.home {
    top: calc(50% + 150px);
    left: calc(50% - 8em);
    width: 16em; }
  .page.cfp {
    top: calc(50% - 140px);
    right: calc(50% - 16em);
    width: 16em; }
    .page.cfp .message {
      top: calc(100% + 12em) !important;
      width: 27em;
      left: calc(50% - 22.5em) !important;
      position: absolute; }
    .page.cfp form {
      position: relative;
      opacity: 0;
      left: -200px; }

.form-input[type='email'], .form-input[type='text'] {
  background: white;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  padding: 10px 10px 10px 25px;
  font-size: 18px;
  height: 60px;
  width: 100%; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  padding: 10px 0;
  color: #012539; }
