$blue: rgb(7, 49, 81);

@mixin displayFlex () {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  // background-color: $blue;
  // background-color: rgb(2,65,100);
  background-color: #024164;

  @include displayFlex();

  font-family: Arial, sans-serif;
  font-size: 100%;
  min-height: 100%;
  overflow: hidden;
}

@import './jsconfuy-cube';

.page {
  display: none;
  position: absolute;

  &.active {
    display: block;
  }

  .message {
    background: #024e71;
    border-radius: 3px;
    padding: 20px;
    font-size: 14px;
    color: #fff;
    text-align: center;
  }

  &.home {
    top: calc(50% + 150px);
    left: calc(50% - 8em);
    width: 16em;
  }

  &.cfp {
    top: calc(50% - 140px);
    right: calc(50% - 16em);
    width: 16em;

    .message {
      top: calc(100% + 12em) !important;
      width: 27em;
      left: calc(50% - 22.5em) !important;
      position: absolute;
    }

    form {
      position: relative;
      opacity: 0;
      left: -200px;
    }
  }

}

.form-input {
  &[type='email'], &[type='text'] {
    background: white;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    padding: 10px 10px 10px 25px;
    font-size: 18px;
    height: 60px;
    // padding: 10px;
    width: 100%;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  padding: 10px 0;
  color: #012539;
}
